{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    {% if new %}
        <h2 style="color: rgb(107, 170, 13);">{{title}} is created successfully!</h2>
    {% endif %}
    <div>
        <form action="{% url 'encyclopedia:edit' %}" method="GET">
            <input type="hidden" name="title" value="{{title}}">
            <input class="btn btn-primary" type="submit" value="Edit">
        </form>
    </div>
    {{markdown |safe}}

{% endblock %}